body {
    font-family: Roboto, sans-serif;
    color: #1F2937;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 24px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 48px;
}

a.button {
    background-color: #3882f6;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
    margin: 24px 0;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

header {
    position: fixed;
    top: 12px;
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 12px;
    list-style: none;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section.text-image {
    background-color: #1F2937;
    color: #e5e7eb;
    padding: 200px 0 140px;
}

section.text-image .content {
    display: flex;
    align-items: center;
    gap: 96px;
}

section.text-image .text,
section.text-image img {
    flex: 1;
}

section.random-info {
    margin: 140px 0;
}

section.random-info h2 {
    text-align: center;
}

section.random-info .blocks {
    display: flex;
    gap: 48px;
    justify-content: center;
}

section.random-info .blocks .block-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 180px;
}

section.random-info .blocks .block-text .block {
    border: 4px solid #3882f6;
    border-radius: 24px;
    margin-bottom: 24px;
    width: 180px;
    height: 180px;
}